{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">{{ board['name'] }}</h2>
<p>{{ board['description'] }}</p>
<h3 class="mt-4 mb-3">Habits</h3>
<div class="list-group mb-4">
{% for habit in habits %}
    <a href="{{ url_for('view_habit', habit_id=habit['id']) }}" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ habit['name'] }}</h5>
            <small>{{ habit['frequency'] }}</small>
        </div>
        <p class="mb-1">{{ habit['description'] }}</p>
        <small>Type: {{ habit['variable_type'] }}</small>
    </a>
{% endfor %}
</div>
<a href="{{ url_for('add_habit', board_id=board['id']) }}" class="btn btn-primary">Add New Habit</a>
{% endblock %}